In [5]:
import pyodbc

connection = pyodbc.connect("DRIVER={SQL Server};"
                            "SERVER=WIN-O68OIR96LK9;""DATABASE=lesson20;"
                            "Trusted_Connection=yes;")
cursor = connection.cursor()

sql = [
    "create database homework_py;",
    "use homework_py;",
    "create table Retro (name varchar(255), species varchar(255), age int)",
    "insert into Retro values ('Benjamin Sisko', 'Human', 40), ('Jadzia Dax', 'Trill', 300), ('Kira Nerys', 'Bajoran', 29)",
    "update Retro set name = 'Ezri Dax' where name = 'Jadzia Dax'",
    "select name, age from Retro where species = 'Bajoran' "
]
for i in sql:
    response = cursor.execute(i)
    if i.startswith("select"):
        result = response.fetchall()
        print(result)
connection.commit()
connection.close()

[('Kira Nerys', 29)]